{{ define "main" }}

        <div class="card">

            <article>

                {{ if .Params.date_hidden }}
                {{ else }}
                    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                    {{ $dateFormat := .Site.Params.dateFormat }}
                <div class="time" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</div>
                {{ end }}

                <h2 class="title">{{ .Title }}</h2>

                <div class="text">{{ .Content }}</div>
            </article>

        </div>

        <div class="pagination">
            <a onclick="javascript:history.back();">{{ $.Site.Params.PageBack }}</a>
        </div>
		<div id="backTop" onclick="backTopFunction()" style="right: 40px; bottom: 40px;">
        <svg xmlns='http://www.w3.org/2000/svg' height="30" width="20" viewBox='0 0 512 512'><title>Caret Up</title>
            <path d='M414 321.94L274.22 158.82a24 24 0 00-36.44 0L98 321.94c-13.34 15.57-2.28 39.62 18.22 39.62h279.6c20.5 0 31.56-24.05 18.18-39.62z' fill="#adb5bd"/>
        </svg>
        <style type="text/css">
            #backTop {
                position: fixed;
                background-color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: none;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 6px rgba(0,0,0,.12);
                cursor: pointer;
                z-index: 5;
            }

            #backTop:hover {
                background-color: #f1f4f8;
            }
        </style>
        <script>
            // 当网页向下滑动 20px 出现"返回顶部" 按钮
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {console.log(121);
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("backTop").style.display = "flex";
                } else {
                    document.getElementById("backTop").style.display = "none";
                }
            }

            // 点击按钮，返回顶部
            function backTopFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </div>
 <!-- 评论block部分加在这里 -->
 		        <div class="card">
            <div class="comments" style="margin-top: 10px;">
              <span> Comments 💬 </span>
              <div id="tcomment"></div>
              
              
              <script src="https://cdn.staticfile.org/twikoo/1.6.7/twikoo.all.min.js"></script>
              <script>
              twikoo.init({
                envId: 'https://twikoo.chenyyds.com/.netlify/functions/twikoo', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
                el: '#tcomment', // 容器元素
                // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
                // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
                // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
              })
              </script>
            </div>
{{ end }}
